.signIn {
  box-sizing: border-box;
  background-color: white;
  width: 300px;
  margin: 0 auto;
  margin-top: 3rem;
  padding: 2rem;
}

.signInIcon {
  font-size: 5rem;
}

.signInButton {
  cursor: pointer;
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
  border: none;
  background-color: #00bc77;
  color: #fff;
  transition: background-color 0.3s;

  &:hover {
    background-color: #005733;
  }

  &:focus-visible {
    outline: none;
    box-shadow: 0 0 0 2px lighten(#00bc77, 5%);
  }
}

.inputRemember {
  display: flex;

  label {
    margin-left: 0.25rem;
  }
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 1rem;

  label {
    font-weight: bold;
  }

  input {
    padding: 5px;
    font-size: 1.2rem;

    &:focus {
      border-color: #00bc77;
      outline: none;
      box-shadow: 0 0 0 1px rgba(0, 188, 119, 0.3);
    }
  }
}

.errorMessage {
  color: red;
  font-size: 0.9rem;
  margin-top: 0.5rem;
  text-align: center;
}
