@use "../../assets/styles/variables" as v;
@use "../../assets/styles/mixins" as m;

.signIn {
  box-sizing: border-box;
  background-color: v.$color-white;
  width: 300px;
  margin: 0 auto;
  margin-top: v.$spacing-xxxl;
  padding: v.$spacing-xl;
}

.signIn-icon {
  font-size: 5rem;
}

.signIn-button {
  @include m.button-primary;
  display: block;
  width: 100%;
  padding: v.$spacing-sm;
  font-size: v.$font-size-medium;
  margin-top: v.$spacing-md;
  border: none;
}

.input-remember {
  display: flex;

  label {
    margin-left: v.$spacing-xs;
  }
}

.input-wrapper {
  @include m.form-field;

  input {
    padding: 5px;
    font-size: v.$font-size-large;
    @include m.input-style;
  }
}

.error-message {
  color: v.$color-error;
  font-size: v.$font-size-small;
  margin-top: v.$spacing-sm;
  text-align: center;
}
