@use "../../assets/styles/variables" as v;
@use "../../assets/styles/mixins" as m;

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: v.$spacing-xs 0;

  @include m.respond-to(v.$breakpoint-mobile) {
    padding: v.$spacing-xs v.$spacing-lg;
  }
}

.main-nav-logo {
  display: flex;
  align-items: center;

  img {
    max-width: 100%;
    width: 150px; // Taille réduite pour mobile

    @include m.respond-to(v.$breakpoint-tablet) {
      width: 200px; // Taille normale pour tablette/desktop
    }
  }
}

.main-nav-item {
  text-decoration: none;
  margin-right: v.$spacing-md;
  font-weight: bold;
  color: v.$color-secondary;

  &:hover {
    text-decoration: underline;
  }

  i {
    margin-right: v.$spacing-xs;
  }
}
