@use "../../assets/styles/variables" as v;
@use "../../assets/styles/mixins" as m;

.features {
  display: flex;
  flex-direction: column;

  @include m.respond-to(v.$breakpoint-desktop) {
    flex-direction: row;
  }
}
