@use "../../../assets/styles/variables" as v;

.feature-item {
  flex: 1;
  padding: v.$spacing-xxl;

  img {
    width: 100px;
    border: 10px solid v.$color-primary;
    border-radius: 50%;
    padding: v.$spacing-md;
  }
}

.feature-item-title {
  color: v.$color-text;
  font-size: v.$font-size-large;
  font-weight: bold;
  margin-bottom: v.$spacing-sm;
}
