@use "../../assets/styles/variables" as v;

.footer {
  display: flex;
  justify-content: center;
  border-top: 2px solid v.$color-gray;
  padding: v.$spacing-xl 0 v.$spacing-lg;
}

.footer-text {
  margin: 0;
  padding: 0;
}
