@use "./variables" as v;

// Primary button
@mixin button-primary {
  border-color: v.$color-primary;
  background-color: v.$color-primary;
  color: v.$color-white;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    border-color: v.$color-primary-dark;
    background-color: v.$color-primary-dark;
  }

  &:disabled {
    opacity: 0.7;
    cursor: not-allowed;
  }
}

// Media queries
@mixin respond-to($breakpoint) {
  @media (min-width: $breakpoint) {
    @content;
  }
}

// Input styles
@mixin input-style {
  border: 2px solid v.$color-gray-light;
  border-radius: v.$border-radius;

  &:focus {
    border-color: v.$color-primary;
    outline: none;
    box-shadow: 0 0 0 1px rgba(0, 188, 119, 0.3);
  }
}

// Form field styles
@mixin form-field {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: v.$spacing-md;

  label {
    font-weight: bold;
  }
}
