@use "./variables" as v;

html {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  text-align: center;
  color: v.$color-secondary;
}

main {
  flex: 1;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
}

.bg-dark {
  background-color: v.$color-dark-bg;
}
